LAB: Visualización de datos usando Matplotlib
==========================================

In [1]:
## inicialización
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas
%matplotlib inline

In [5]:
#Leer datos
base = pandas.read_csv('indicadores-mundiales.csv', sep=',', encoding='latin-1')
base.head(5)

,Ano,Dias para iniciar un negocio,Emisiones de CO2,Esperanza de vida (mujeres),Esperanza de vida (varones),Facilidad para hacer negocios,Gasto en salud ( del PIB),Gasto en salud (per capita),Horas preparar los impuestos,Interes de prestamos,...,Poblacion urbana,Region,Tasa de mortalidad infantil,Tasa de natalidad,Tasa tributaria empresarial,Turismo emisor,Turismo receptivo,Uso de Internet,Uso de energia,Uso de telefonos celulares
0,2000-12-01,NaN,87931.0,71.0,67.0,NaN,3.5,60.0,NaN,10.0,...,59.9,africa,3.4,2.0,NaN,193000000.0,102000000.0,0.0,26998.0,0.0
1,2000-12-01,NaN,9542.0,47.0,44.0,NaN,3.4,22.0,NaN,103.2,...,32.4,africa,12.8,5.0,NaN,146000000.0,34000000.0,0.0,7499.0,0.0
2,2000-12-01,NaN,1617.0,57.0,53.0,NaN,4.3,15.0,NaN,NaN,...,38.3,africa,9.0,4.3,NaN,50000000.0,77000000.0,0.0,1983.0,0.0
3,2000-12-01,NaN,4276.0,52.0,49.0,NaN,4.7,152.0,NaN,15.5,...,53.2,africa,5.4,2.7,NaN,209000000.0,227000000.0,0.0,1836.0,0.1
4,2000-12-01,NaN,1041.0,52.0,49.0,NaN,5.1,12.0,NaN,NaN,...,17.8,africa,9.6,4.6,NaN,30000000.0,23000000.0,0.0,NaN,0.0

## Punto 1

Construya una gráfica similar a la siguiente usando el archivo `indicadores-mundiales.csv`. Se grafica la suma del porcetaje de la población por regiones.

![act2](images/suma-pob-region-edades-2.png)

In [13]:
base.columns.values

array(['Ano', 'Dias para iniciar un negocio', 'Emisiones de CO2',
       'Esperanza de vida (mujeres)', 'Esperanza de vida (varones)',
       'Facilidad para hacer negocios', 'Gasto en salud ( del PIB)',
       'Gasto en salud (per capita)', 'Horas preparar los impuestos',
       'Interes de prestamos', 'PIB', 'Pais', 'Poblacion 0-14',
       'Poblacion 15-64', 'Poblacion 65+', 'Poblacion total',
       'Poblacion urbana', 'Region', 'Tasa de mortalidad infantil',
       'Tasa de natalidad', 'Tasa tributaria empresarial',
       'Turismo emisor', 'Turismo receptivo', 'Uso de Internet',
       'Uso de energia', 'Uso de telefonos celulares'], dtype=object)

In [ ]:
#Sumar población por región

In [19]:
punto1 = base.groupby('Region').sum()[['Poblacion 0-14', 'Poblacion 15-64', 'Poblacion 65+']]
punto1

               Poblacion 0-14  Poblacion 15-64  Poblacion 65+
Region
Asia                   5318.6          10668.7         1013.0
Europa                 3780.2          13830.6         2890.5
Las Americas           5375.5          10901.8         1223.1
Oceania                1784.8           3133.1          282.5
Oriente Medio          1754.7           3251.1          194.2
africa                11136.2          14452.7          911.7

## Punto 2

Construya una gráfica similar a la siguiente usando el archivo `indicadores-mundiales.csv`. Se grafica la suma del porcetaje de la población por regiones.

![act2](images/suma-pob-region-edades-3.png)

## Punto 3
Construya una gráfica similar a la siguiente usando el archivo `indicadores-mundiales.csv`. Se grafica la suma del porcetaje de la población por regiones.

![act3](images/suma-pob-region-edades-4.png)

## Punto 4

Construya una gráfica similar a la siguiente usando el archivo `indicadores-mundiales.csv`. Promedio de gastos per capita por año.

![act4](images/prom-gastos-salud-per-capita-ano.png)

## Punto 5

Construya una gráfica similar a la siguiente usando el archivo `indicadores-mundiales.csv`. Promedio de gastos per capita por año.

![act5](images/prom-region-edades-ano.png)

---